# **Caso de Estudio: Análisis de Ventas de una Cadena de Tiendas**

Contexto:  Supongamos que trabajas como científico de datos para una cadena de tiendas minoristas. Tu tarea es analizar las ventas de productos en diferentes tiendas y generar informes sobre la disponibilidad de productos, así como sobre las tendencias de ventas en distintas regiones.  


Objetivo: Determinar la disponibilidad de productos específicos en diferentes tiendas.
Alinear y analizar las ventas de productos para realizar una comparación entre diferentes regiones y tiendas.  

Datos:  
Productos: Un DataFrame con información sobre productos únicos.  
Ventas: Un DataFrame con registros de ventas diarias.  
Tiendas: Un DataFrame con información sobre las tiendas.

### Estructura de los Datos

#### Productos

| ProductoID | Nombre      |
|------------|-------------|
| 1          | Laptop      |
| 2          | Smartphone  |
| 3          | Tablet      |
| 4          | Accesorios  |

#### Ventas

| Fecha       | TiendaID | ProductoID | Ventas |
|-------------|----------|------------|--------|
| 2023-01-01  | 101      | 1          | 20     |
| 2023-01-01  | 102      | 2          | 15     |
| 2023-01-01  | 101      | 3          | 10     |
| 2023-01-02  | 101      | 1          | 25     |
| 2023-01-02  | 103      | 2          | 12     |

#### Tiendas

| TiendaID | Región |
|----------|--------|
| 101      | Norte  |
| 102      | Sur    |
| 103      | Este   |
| 104      | Oeste  |

### Uso de `Index.get_indexer`:  
Vamos a utilizar **Index.get_indexer** para alinear los datos de ventas con los datos de productos y tiendas para realizar un análisis detallado.

Paso 1: Crear los dataframes

In [3]:
import pandas as pd
# DataFrame de productos
productos = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Laptop', 'Smartphone', 'Tablet', 'Accesorios']
})

# DataFrame de ventas
ventas = pd.DataFrame({
    'Fecha': ['2023-01-01', '2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02'],
    'TiendaID': [101, 102, 101, 101, 103],
    'ProductoID': [1, 2, 3, 1, 2],
    'Ventas': [20, 15, 10, 25, 12]
})

# DataFrame de tiendas
tiendas = pd.DataFrame({
    'TiendaID': [101, 102, 103, 104],
    'Región': ['Norte', 'Sur', 'Este', 'Oeste']
})

Paso 2. Usar `Index.get_indexer` para Alinear Datos:  
Queremos alinear los datos de ventas con los nombres de productos y las regiones de las tiendas.

In [5]:
producto_index = pd.Index(productos['ProductoID'])
ventas  ['ProductoIndex'] = producto_index.get_indexer(ventas['ProductoID'])
ventas['NombreProducto'] = productos.loc[ventas['ProductoIndex'], 'Nombre'].values

tienda_index = pd.Index(tiendas['TiendaID'])
ventas['TiendaIndex'] = tienda_index.get_indexer(ventas['TiendaID'])
ventas['Región'] = tiendas.loc[ventas['TiendaIndex'], 'Región'].values

ventas

,Fecha,TiendaID,ProductoID,Ventas,ProductoIndex,NombreProducto,TiendaIndex,Región
0,2023-01-01,101,1,20,0,Laptop,0,Norte
1,2023-01-01,102,2,15,1,Smartphone,1,Sur
2,2023-01-01,101,3,10,2,Tablet,0,Norte
3,2023-01-02,101,1,25,0,Laptop,0,Norte
4,2023-01-02,103,2,12,1,Smartphone,2,Este

### Explicar linea por linea el código utilizado en la celda 5.

### Elabore un breve análisis de los resultados obtenidos. Destacar los principales insights y proponga recomendaciones de mejora para el negocio.