# Caso 3: Estudio de viabilidad de un dataset proveniente de distintas fuentes

## Suponga que trabaja para la consultora DATACONSUL. Un cliente se ha puesto en contacto con la empresa para que se le haga un estudio preliminar de una dataset para estudiar la posibilidad de sacar valor insights a dichos datos.  

La situación de los datos es la siguiente:  
Por falta de tiempo la salida del pipeline de datos no llegó a una única fuente. Los datos se encuentran en tres fuentes distintas, una parte en MySQL Workbench, otra parte de los datos están en SQL Server Management Studio y una tercera parte están guardadas en un Clúster de MongoDB (corriendo AWS de fondo) como una base de datos NoSQL en estructura de catálogos.  

- Para las primeras dos fuentes el cliente ha enviado los esquemas en ficheros sql. El esquema que proviene de la bases de datos de mysql workbench se llama **telecomdb_mysql.sql** y el que proviene de SQL Server se llama **telecomdb_sqlserver.sql**.
  
- Para los datos que están en MongoDB Atlas el cliente no ha enviado el fichero sino que ha proporcionado una cadena de conexión para que , desde jupyter notebook o VSCODE utilizando la libreria **pymongo** , para descargar los catálogos y cargarlos un dataframe de pandas.

Los datos están relacionados a una empresa de telecomunicaciones. Las tres fuentes contienen tres tablas: Employees, Customers y Transactions

## Las instrucciones son:

# Para MySQL Workbench:

### 1- Cargar el script **telecomdb_mysql.sql** a tu gestor MySQL Worbench de forma local.

### 2 - Después desde tu notebook de preferencia usar `SQLAlchemy` para generar una conexión hacia tu base de datos local y cargar las tablas en tres dataframes distintas (Employees, customers y Transactions).

In [ ]:
# !pip install pymysql
# !pip install sqlalchemy

### Hacer la conexión a tu MySQL Local

In [12]:
from sqlalchemy import create_engine
import pandas as pd

# Reemplaza con tu cadena de conexión a MySQL
engine = create_engine('mysql+pymysql://root:Data2024@localhost:3306/telecomdb')
# Cambiar el password puesto arriba por el password de tu conexión

### Ejecutar consulta y cargar datos en un DataFrame

In [27]:
employees_mysql = pd.read_sql_query('SELECT * FROM Employees', engine)
customers_mysql = pd.read_sql_query('SELECT * FROM Customers', engine)
transactions_mysql = pd.read_sql_query('SELECT * FROM Transactions', engine)

### Hacer un .head() de cada dataframe para 'ver los datos'

# Para SQL Server

### 1- Cargar el script **telecomdb_sqlserver.sql** a tu gestor SSMS

### 2- Desde tu notebook de preferencia usar `SQLAlchemy` para generar una conexión hacia tu base de datos local y cargar las tablas en tres dataframes distintas (Employees, customers y Transactions).

In [14]:
from sqlalchemy import create_engine
import pandas as pd

# Crear la cadena de conexión usando SQLAlchemy
engine = create_engine('mssql+pyodbc://BALRODJJ/TelecomDB?driver=SQL+Server&trusted_connection=yes')
# Cambiar BALRODJJ por le nombre del server que tiene tu base de datos TelecomDB

### Ejecutar consulta y cargar datos en un DataFrame

In [26]:
employees_sql = pd.read_sql_query('SELECT * FROM Employees', engine)
customers_sql = pd.read_sql_query('SELECT * FROM Customers', engine)
transactions_sql = pd.read_sql_query('SELECT * FROM Transactions', engine)

### Hacer un .head() de cada dataframe para 'ver los datos'

# Para MongoDB

In [ ]:
#!pip install pymongo

### 1- Usando pymongo conectarse al cluster de mongodb altas con la cadena de conexión suministrada por la empresa:

In [16]:
from pymongo import MongoClient

#  cadena de conexión 
uri = "mongodb+srv://student77:tajamar77@prueba.6okhd9u.mongodb.net/?retryWrites=true&w=majority&appName=Prueba"

# Conectar a la base de datos
client = MongoClient(uri)

# Seleccionar la base de datos
db = client['TelecomDB']

# Acceder a las colecciones
employees_collection = db['Employees']
customers_collection = db['Customers']
transactions_collection = db['Transactions']

### Ejemplo de consulta: Obtener todos los documentos de la colección Employees

In [17]:
employees = employees_collection.find()
print("Employees:")
for employee in employees:
    print(employee)

Employees:
{'_id': ObjectId('6687b6767f84c33cbfc9c33d'), 'EmployeeID': 8, 'FirstName': 'Hannah', 'LastName': 'Walker', 'Email': 'hannah.walker@example.com', 'HireDate': datetime.datetime(2019, 11, 21, 0, 0), 'Salary': 58000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34e'), 'EmployeeID': 25, 'FirstName': 'Yvonne', 'LastName': 'Sanchez', 'Email': 'yvonne.sanchez@example.com', 'HireDate': datetime.datetime(2021, 6, 5, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c337'), 'EmployeeID': 2, 'FirstName': 'Betty', 'LastName': 'Jones', 'Email': 'betty.jones@example.com', 'HireDate': datetime.datetime(2019, 4, 12, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33f'), 'EmployeeID': 10, 'FirstName': 'Julia', 'LastName': 'Allen', 'Email': 'julia.allen@example.com', 'HireDate': datetime.datetime(2021, 1, 10, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34c'), 'EmployeeID': 23, 'FirstName': 'Wendy', 'LastName': 'Collins', 'Email': 'wendy.collins@example.com', 'HireDate': datetime.datetime(2019, 6, 29, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33e'), 'EmployeeID': 9, 'FirstName': 'Ian', 'LastName': 'Hall', 'Email': 'ian.hall@example.com', 'HireDate': datetime.datetime(2020, 5, 15, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35a'), 'EmployeeID': 37, 'FirstName': 'Kevin', 'LastName': 'Cox', 'Email': 'kevin.cox@example.com', 'HireDate': datetime.datetime(2018, 11, 10, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c359'), 'EmployeeID': 36, 'FirstName': 'Julia', 'LastName': 'Richardson', 'Email': 'julia.richardson@example.com', 'HireDate': datetime.datetime(2017, 3, 19, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c362'), 'EmployeeID': 45, 'FirstName': 'Sam', 'LastName': 'Watson', 'Email': 'sam.watson@example.com', 'HireDate': datetime.datetime(2021, 7, 19, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c364'), 'EmployeeID': 47, 'FirstName': 'Uma', 'LastName': 'Kelly', 'Email': 'uma.kelly@example.com', 'HireDate': datetime.datetime(2018, 5, 19, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c340'), 'EmployeeID': 11, 'FirstName': 'Kevin', 'LastName': 'Young', 'Email': 'kevin.young@example.com', 'HireDate': datetime.datetime(2017, 10, 12, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34a'), 'EmployeeID': 21, 'FirstName': 'Uma', 'LastName': 'Evans', 'Email': 'uma.evans@example.com', 'HireDate': datetime.datetime(2017, 8, 15, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33a'), 'EmployeeID': 5, 'FirstName': 'Evan', 'LastName': 'Wilson', 'Email': 'evan.wilson@example.com', 'HireDate': datetime.datetime(2017, 6, 19, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33c'), 'EmployeeID': 7, 'FirstName': 'George', 'LastName': 'Lewis', 'Email': 'george.lewis@example.com', 'HireDate': datetime.datetime(2018, 3, 10, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c342'), 'EmployeeID': 13, 'FirstName': 'Mike', 'LastName': 'Scott', 'Email': 'mike.scott@example.com', 'HireDate': datetime.datetime(2018, 8, 23, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c344'), 'EmployeeID': 15, 'FirstName': 'Oscar', 'LastName': 'Adams', 'Email': 'oscar.adams@example.com', 'HireDate': datetime.datetime(2020, 9, 25, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c350'), 'EmployeeID': 27, 'FirstName': 'Aaron', 'LastName': 'Rogers', 'Email': 'aaron.rogers@example.com', 'HireDate': datetime.datetime(2018, 11, 13, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35f'), 'EmployeeID': 42, 'FirstName': 'Paula', 'LastName': 'Gray', 'Email': 'paula.gray@example.com', 'HireDate': datetime.datetime(2018, 6, 15, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c365'), 'EmployeeID': 48, 'FirstName': 'Victor', 'LastName': 'Sanders', 'Email': 'victor.sanders@example.com', 'HireDate': datetime.datetime(2019, 8, 21, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c33b'), 'EmployeeID': 6, 'FirstName': 'Fiona', 'LastName': 'Clark', 'Email': 'fiona.clark@example.com', 'HireDate': datetime.datetime(2016, 9, 5, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c343'), 'EmployeeID': 14, 'FirstName': 'Nina', 'LastName': 'Green', 'Email': 'nina.green@example.com', 'HireDate': datetime.datetime(2019, 4, 18, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34b'), 'EmployeeID': 22, 'FirstName': 'Victor', 'LastName': 'Edwards', 'Email': 'victor.edwards@example.com', 'HireDate': datetime.datetime(2018, 2, 21, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34f'), 'EmployeeID': 26, 'FirstName': 'Zach', 'LastName': 'Morris', 'Email': 'zach.morris@example.com', 'HireDate': datetime.datetime(2017, 4, 10, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c351'), 'EmployeeID': 28, 'FirstName': 'Betty', 'LastName': 'Reed', 'Email': 'betty.reed@example.com', 'HireDate': datetime.datetime(2019, 2, 5, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c353'), 'EmployeeID': 30, 'FirstName': 'Diana', 'LastName': 'Morgan', 'Email': 'diana.morgan@example.com', 'HireDate': datetime.datetime(2021, 4, 11, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c34d'), 'EmployeeID': 24, 'FirstName': 'Xander', 'LastName': 'Stewart', 'Email': 'xander.stewart@example.com', 'HireDate': datetime.datetime(2020, 3, 19, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35c'), 'EmployeeID': 39, 'FirstName': 'Mike', 'LastName': 'Ward', 'Email': 'mike.ward@example.com', 'HireDate': datetime.datetime(2020, 7, 25, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c352'), 'EmployeeID': 29, 'FirstName': 'Carl', 'LastName': 'Cook', 'Email': 'carl.cook@example.com', 'HireDate': datetime.datetime(2020, 6, 25, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c354'), 'EmployeeID': 31, 'FirstName': 'Evan', 'LastName': 'Bell', 'Email': 'evan.bell@example.com', 'HireDate': datetime.datetime(2017, 9, 17, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c358'), 'EmployeeID': 35, 'FirstName': 'Ian', 'LastName': 'Cooper', 'Email': 'ian.cooper@example.com', 'HireDate': datetime.datetime(2021, 8, 7, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35b'), 'EmployeeID': 38, 'FirstName': 'Laura', 'LastName': 'Howard', 'Email': 'laura.howard@example.com', 'HireDate': datetime.datetime(2019, 3, 16, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c346'), 'EmployeeID': 17, 'FirstName': 'Quincy', 'LastName': 'Roberts', 'Email': 'quincy.roberts@example.com', 'HireDate': datetime.datetime(2017, 7, 19, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c338'), 'EmployeeID': 3, 'FirstName': 'Carl', 'LastName': 'Brown', 'Email': 'carl.brown@example.com', 'HireDate': datetime.datetime(2020, 7, 18, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35e'), 'EmployeeID': 41, 'FirstName': 'Oscar', 'LastName': 'Peterson', 'Email': 'oscar.peterson@example.com', 'HireDate': datetime.datetime(2017, 11, 20, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c341'), 'EmployeeID': 12, 'FirstName': 'Laura', 'LastName': 'King', 'Email': 'laura.king@example.com', 'HireDate': datetime.datetime(2016, 12, 1, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c348'), 'EmployeeID': 19, 'FirstName': 'Sam', 'LastName': 'Campbell', 'Email': 'sam.campbell@example.com', 'HireDate': datetime.datetime(2019, 11, 22, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c35d'), 'EmployeeID': 40, 'FirstName': 'Nina', 'LastName': 'Torres', 'Email': 'nina.torres@example.com', 'HireDate': datetime.datetime(2021, 1, 28, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c360'), 'EmployeeID': 43, 'FirstName': 'Quincy', 'LastName': 'Ramirez', 'Email': 'quincy.ramirez@example.com', 'HireDate': datetime.datetime(2019, 9, 22, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c361'), 'EmployeeID': 44, 'FirstName': 'Rachel', 'LastName': 'James', 'Email': 'rachel.james@example.com', 'HireDate': datetime.datetime(2020, 3, 11, 0, 0), 'Salary': 65000}
{'_id': ObjectId('6687b6767f84c33cbfc9c363'), 'EmployeeID': 46, 'FirstName': 'Tina', 'LastName': 'Brooks', 'Email': 'tina.brooks@example.com', 'HireDate': datetime.datetime(2017, 4, 17, 0, 0), 'Salary': 64000}
{'_id': ObjectId('6687b6767f84c33cbfc9c366'), 'EmployeeID': 49, 'FirstName': 'Wendy', 'LastName': 'Price', 'Email': 'wendy.price@example.com', 'HireDate': datetime.datetime(2020, 12, 19, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c349'), 'EmployeeID': 20, 'FirstName': 'Tina', 'LastName': 'Parker', 'Email': 'tina.parker@example.com', 'HireDate': datetime.datetime(2020, 1, 30, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c355'), 'EmployeeID': 32, 'FirstName': 'Fiona', 'LastName': 'Murphy', 'Email': 'fiona.murphy@example.com', 'HireDate': datetime.datetime(2018, 10, 23, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c367'), 'EmployeeID': 50, 'FirstName': 'Xander', 'LastName': 'Bennett', 'Email': 'xander.bennett@example.com', 'HireDate': datetime.datetime(2021, 2, 5, 0, 0), 'Salary': 62000}
{'_id': ObjectId('6687b6767f84c33cbfc9c336'), 'EmployeeID': 1, 'FirstName': 'Aaron', 'LastName': 'Smith', 'Email': 'aaron.smith@example.com', 'HireDate': datetime.datetime(2018, 1, 15, 0, 0), 'Salary': 59000}
{'_id': ObjectId('6687b6767f84c33cbfc9c339'), 'EmployeeID': 4, 'FirstName': 'Diana', 'LastName': 'Davis', 'Email': 'diana.davis@example.com', 'HireDate': datetime.datetime(2021, 2, 24, 0, 0), 'Salary': 61000}
{'_id': ObjectId('6687b6767f84c33cbfc9c345'), 'EmployeeID': 16, 'FirstName': 'Paula', 'LastName': 'Mitchell', 'Email': 'paula.mitchell@example.com', 'HireDate': datetime.datetime(2021, 3, 17, 0, 0), 'Salary': 60000}
{'_id': ObjectId('6687b6767f84c33cbfc9c347'), 'EmployeeID': 18, 'FirstName': 'Rachel', 'LastName': 'Phillips', 'Email': 'rachel.phillips@example.com', 'HireDate': datetime.datetime(2018, 5, 11, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c356'), 'EmployeeID': 33, 'FirstName': 'George', 'LastName': 'Bailey', 'Email': 'george.bailey@example.com', 'HireDate': datetime.datetime(2019, 5, 29, 0, 0), 'Salary': 63000}
{'_id': ObjectId('6687b6767f84c33cbfc9c357'), 'EmployeeID': 34, 'FirstName': 'Hannah', 'LastName': 'Rivera', 'Email': 'hannah.rivera@example.com', 'HireDate': datetime.datetime(2020, 12, 14, 0, 0), 'Salary': 65000}

### Ejemplo de consulta: Obtener todos los documentos de la colección Customers

In [18]:
customers = customers_collection.find()
print("\nCustomers:")
for customer in customers:
    print(customer)

Customers:
{'_id': ObjectId('6687b6a17f84c33cbfc9c379'), 'CustomerID': 18, 'FirstName': 'Ruby', 'LastName': 'Phillips', 'Email': 'ruby.phillips@example.com', 'SignupDate': datetime.datetime(2018, 5, 30, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c371'), 'CustomerID': 10, 'FirstName': 'Jack', 'LastName': 'Allen', 'Email': 'jack.allen@example.com', 'SignupDate': datetime.datetime(2021, 2, 14, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c369'), 'CustomerID': 2, 'FirstName': 'Brian', 'LastName': 'Johnson', 'Email': 'brian.johnson@example.com', 'SignupDate': datetime.datetime(2020, 5, 25, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c368'), 'CustomerID': 1, 'FirstName': 'Amelia', 'LastName': 'Smith', 'Email': 'amelia.smith@example.com', 'SignupDate': datetime.datetime(2021, 3, 15, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36c'), 'CustomerID': 5, 'FirstName': 'Ella', 'LastName': 'Wilson', 'Email': 'ella.wilson@example.com', 'SignupDate': datetime.datetime(2017, 9, 22, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36a'), 'CustomerID': 3, 'FirstName': 'Clara', 'LastName': 'Brown', 'Email': 'clara.brown@example.com', 'SignupDate': datetime.datetime(2019, 7, 20, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37f'), 'CustomerID': 24, 'FirstName': 'Xavier', 'LastName': 'Stewart', 'Email': 'xavier.stewart@example.com', 'SignupDate': datetime.datetime(2017, 2, 18, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c374'), 'CustomerID': 13, 'FirstName': 'Mia', 'LastName': 'Scott', 'Email': 'mia.scott@example.com', 'SignupDate': datetime.datetime(2019, 5, 19, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36b'), 'CustomerID': 4, 'FirstName': 'David', 'LastName': 'Davis', 'Email': 'david.davis@example.com', 'SignupDate': datetime.datetime(2021, 1, 28, 0, 0), 'MonthlyIncome': 5200}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36d'), 'CustomerID': 6, 'FirstName': 'Frank', 'LastName': 'Clark', 'Email': 'frank.clark@example.com', 'SignupDate': datetime.datetime(2020, 12, 1, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c372'), 'CustomerID': 11, 'FirstName': 'Kara', 'LastName': 'Young', 'Email': 'kara.young@example.com', 'SignupDate': datetime.datetime(2015, 12, 24, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36e'), 'CustomerID': 7, 'FirstName': 'Grace', 'LastName': 'Lewis', 'Email': 'grace.lewis@example.com', 'SignupDate': datetime.datetime(2016, 6, 10, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c392'), 'CustomerID': 43, 'FirstName': 'Quincy', 'LastName': 'Ramirez', 'Email': 'quincy.ramirez@example.com', 'SignupDate': datetime.datetime(2019, 9, 22, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c370'), 'CustomerID': 9, 'FirstName': 'Isla', 'LastName': 'Hall', 'Email': 'isla.hall@example.com', 'SignupDate': datetime.datetime(2019, 9, 30, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c373'), 'CustomerID': 12, 'FirstName': 'Leo', 'LastName': 'King', 'Email': 'leo.king@example.com', 'SignupDate': datetime.datetime(2018, 7, 29, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c377'), 'CustomerID': 16, 'FirstName': 'Paul', 'LastName': 'Mitchell', 'Email': 'paul.mitchell@example.com', 'SignupDate': datetime.datetime(2019, 6, 15, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c378'), 'CustomerID': 17, 'FirstName': 'Quinn', 'LastName': 'Roberts', 'Email': 'quinn.roberts@example.com', 'SignupDate': datetime.datetime(2016, 8, 12, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37a'), 'CustomerID': 19, 'FirstName': 'Steve', 'LastName': 'Campbell', 'Email': 'steve.campbell@example.com', 'SignupDate': datetime.datetime(2021, 3, 13, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38a'), 'CustomerID': 35, 'FirstName': 'Ian', 'LastName': 'Cooper', 'Email': 'ian.cooper@example.com', 'SignupDate': datetime.datetime(2021, 4, 15, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38c'), 'CustomerID': 37, 'FirstName': 'Kevin', 'LastName': 'Cox', 'Email': 'kevin.cox@example.com', 'SignupDate': datetime.datetime(2018, 11, 14, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c391'), 'CustomerID': 42, 'FirstName': 'Paula', 'LastName': 'Gray', 'Email': 'paula.gray@example.com', 'SignupDate': datetime.datetime(2018, 6, 15, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37c'), 'CustomerID': 21, 'FirstName': 'Uma', 'LastName': 'Evans', 'Email': 'uma.evans@example.com', 'SignupDate': datetime.datetime(2018, 10, 17, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c388'), 'CustomerID': 33, 'FirstName': 'George', 'LastName': 'Bailey', 'Email': 'george.bailey@example.com', 'SignupDate': datetime.datetime(2018, 2, 25, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38f'), 'CustomerID': 40, 'FirstName': 'Nina', 'LastName': 'Torres', 'Email': 'nina.torres@example.com', 'SignupDate': datetime.datetime(2021, 1, 28, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38b'), 'CustomerID': 36, 'FirstName': 'Julia', 'LastName': 'Richardson', 'Email': 'julia.richardson@example.com', 'SignupDate': datetime.datetime(2017, 10, 8, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c399'), 'CustomerID': 50, 'FirstName': 'Xander', 'LastName': 'Bennett', 'Email': 'xander.bennett@example.com', 'SignupDate': datetime.datetime(2021, 2, 5, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c36f'), 'CustomerID': 8, 'FirstName': 'Henry', 'LastName': 'Walker', 'Email': 'henry.walker@example.com', 'SignupDate': datetime.datetime(2018, 4, 25, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37e'), 'CustomerID': 23, 'FirstName': 'Wendy', 'LastName': 'Collins', 'Email': 'wendy.collins@example.com', 'SignupDate': datetime.datetime(2020, 12, 15, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c389'), 'CustomerID': 34, 'FirstName': 'Hannah', 'LastName': 'Rivera', 'Email': 'hannah.rivera@example.com', 'SignupDate': datetime.datetime(2019, 6, 12, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c396'), 'CustomerID': 47, 'FirstName': 'Uma', 'LastName': 'Kelly', 'Email': 'uma.kelly@example.com', 'SignupDate': datetime.datetime(2018, 5, 19, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c398'), 'CustomerID': 49, 'FirstName': 'Wendy', 'LastName': 'Price', 'Email': 'wendy.price@example.com', 'SignupDate': datetime.datetime(2020, 12, 19, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c385'), 'CustomerID': 30, 'FirstName': 'Daisy', 'LastName': 'Morgan', 'Email': 'daisy.morgan@example.com', 'SignupDate': datetime.datetime(2019, 3, 22, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c395'), 'CustomerID': 46, 'FirstName': 'Tina', 'LastName': 'Brooks', 'Email': 'tina.brooks@example.com', 'SignupDate': datetime.datetime(2017, 4, 17, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c383'), 'CustomerID': 28, 'FirstName': 'Bella', 'LastName': 'Reed', 'Email': 'bella.reed@example.com', 'SignupDate': datetime.datetime(2017, 6, 20, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c384'), 'CustomerID': 29, 'FirstName': 'Carter', 'LastName': 'Cook', 'Email': 'carter.cook@example.com', 'SignupDate': datetime.datetime(2018, 12, 5, 0, 0), 'MonthlyIncome': 4700}
{'_id': ObjectId('6687b6a17f84c33cbfc9c386'), 'CustomerID': 31, 'FirstName': 'Evan', 'LastName': 'Bell', 'Email': 'evan.bell@example.com', 'SignupDate': datetime.datetime(2020, 9, 12, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38e'), 'CustomerID': 39, 'FirstName': 'Mike', 'LastName': 'Ward', 'Email': 'mike.ward@example.com', 'SignupDate': datetime.datetime(2020, 7, 24, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c375'), 'CustomerID': 14, 'FirstName': 'Noah', 'LastName': 'Green', 'Email': 'noah.green@example.com', 'SignupDate': datetime.datetime(2020, 11, 12, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c382'), 'CustomerID': 27, 'FirstName': 'Alex', 'LastName': 'Rogers', 'Email': 'alex.rogers@example.com', 'SignupDate': datetime.datetime(2020, 4, 8, 0, 0), 'MonthlyIncome': 5000}
{'_id': ObjectId('6687b6a17f84c33cbfc9c390'), 'CustomerID': 41, 'FirstName': 'Oscar', 'LastName': 'Peterson', 'Email': 'oscar.peterson@example.com', 'SignupDate': datetime.datetime(2017, 11, 20, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37d'), 'CustomerID': 22, 'FirstName': 'Victor', 'LastName': 'Edwards', 'Email': 'victor.edwards@example.com', 'SignupDate': datetime.datetime(2019, 7, 29, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c393'), 'CustomerID': 44, 'FirstName': 'Rachel', 'LastName': 'James', 'Email': 'rachel.james@example.com', 'SignupDate': datetime.datetime(2020, 3, 11, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c380'), 'CustomerID': 25, 'FirstName': 'Yara', 'LastName': 'Sanchez', 'Email': 'yara.sanchez@example.com', 'SignupDate': datetime.datetime(2018, 8, 28, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c387'), 'CustomerID': 32, 'FirstName': 'Fiona', 'LastName': 'Murphy', 'Email': 'fiona.murphy@example.com', 'SignupDate': datetime.datetime(2017, 7, 21, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c38d'), 'CustomerID': 38, 'FirstName': 'Laura', 'LastName': 'Howard', 'Email': 'laura.howard@example.com', 'SignupDate': datetime.datetime(2019, 3, 20, 0, 0), 'MonthlyIncome': 5100}
{'_id': ObjectId('6687b6a17f84c33cbfc9c397'), 'CustomerID': 48, 'FirstName': 'Victor', 'LastName': 'Sanders', 'Email': 'victor.sanders@example.com', 'SignupDate': datetime.datetime(2019, 8, 21, 0, 0), 'MonthlyIncome': 4600}
{'_id': ObjectId('6687b6a17f84c33cbfc9c376'), 'CustomerID': 15, 'FirstName': 'Olivia', 'LastName': 'Adams', 'Email': 'olivia.adams@example.com', 'SignupDate': datetime.datetime(2017, 1, 27, 0, 0), 'MonthlyIncome': 5300}
{'_id': ObjectId('6687b6a17f84c33cbfc9c37b'), 'CustomerID': 20, 'FirstName': 'Tina', 'LastName': 'Parker', 'Email': 'tina.parker@example.com', 'SignupDate': datetime.datetime(2017, 12, 21, 0, 0), 'MonthlyIncome': 4800}
{'_id': ObjectId('6687b6a17f84c33cbfc9c381'), 'CustomerID': 26, 'FirstName': 'Zane', 'LastName': 'Morris', 'Email': 'zane.morris@example.com', 'SignupDate': datetime.datetime(2019, 1, 15, 0, 0), 'MonthlyIncome': 4900}
{'_id': ObjectId('6687b6a17f84c33cbfc9c394'), 'CustomerID': 45, 'FirstName': 'Sam', 'LastName': 'Watson', 'Email': 'sam.watson@example.com', 'SignupDate': datetime.datetime(2021, 7, 19, 0, 0), 'MonthlyIncome': 4700}

### Ejemplo de consulta: Obtener todos los documentos de la colección Transactions

In [19]:
transactions = transactions_collection.find()
print("\nTransactions:")
for transaction in transactions:
    print(transaction)

Transactions:
{'_id': ObjectId('6687b6d07f84c33cbfc9c39f'), 'TransactionID': 6, 'CustomerID': 6, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 10, 11, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3be'), 'TransactionID': 37, 'CustomerID': 37, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 3, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a2'), 'TransactionID': 9, 'CustomerID': 9, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 7, 18, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ae'), 'TransactionID': 21, 'CustomerID': 21, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 10, 10, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39c'), 'TransactionID': 3, 'CustomerID': 3, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 11, 20, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39e'), 'TransactionID': 5, 'CustomerID': 5, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 9, 12, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ad'), 'TransactionID': 20, 'CustomerID': 20, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 1, 18, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bf'), 'TransactionID': 38, 'CustomerID': 38, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 10, 12, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a0'), 'TransactionID': 7, 'CustomerID': 7, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 8, 21, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b0'), 'TransactionID': 23, 'CustomerID': 23, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 12, 20, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39a'), 'TransactionID': 1, 'CustomerID': 1, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 1, 10, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39b'), 'TransactionID': 2, 'CustomerID': 2, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 2, 15, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c39d'), 'TransactionID': 4, 'CustomerID': 4, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 5, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c1'), 'TransactionID': 40, 'CustomerID': 40, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 11, 24, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ab'), 'TransactionID': 18, 'CustomerID': 18, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 12, 5, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a9'), 'TransactionID': 16, 'CustomerID': 16, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2022, 2, 11, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a1'), 'TransactionID': 8, 'CustomerID': 8, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 15, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a6'), 'TransactionID': 13, 'CustomerID': 13, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2022, 1, 2, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b8'), 'TransactionID': 31, 'CustomerID': 31, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 11, 11, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b9'), 'TransactionID': 32, 'CustomerID': 32, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 18, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3cb'), 'TransactionID': 50, 'CustomerID': 50, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 10, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bc'), 'TransactionID': 35, 'CustomerID': 35, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 12, 9, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a4'), 'TransactionID': 11, 'CustomerID': 11, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 5, 22, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3aa'), 'TransactionID': 17, 'CustomerID': 17, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 4, 15, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bb'), 'TransactionID': 34, 'CustomerID': 34, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 8, 31, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b1'), 'TransactionID': 24, 'CustomerID': 24, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 25, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a5'), 'TransactionID': 12, 'CustomerID': 12, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 6, 5, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a7'), 'TransactionID': 14, 'CustomerID': 14, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 9, 10, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b2'), 'TransactionID': 25, 'CustomerID': 25, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 8, 14, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b4'), 'TransactionID': 27, 'CustomerID': 27, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 6, 17, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c3'), 'TransactionID': 42, 'CustomerID': 42, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 2, 15, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c9'), 'TransactionID': 48, 'CustomerID': 48, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 10, 1, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a8'), 'TransactionID': 15, 'CustomerID': 15, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 11, 20, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3af'), 'TransactionID': 22, 'CustomerID': 22, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 30, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b6'), 'TransactionID': 29, 'CustomerID': 29, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 10, 29, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c7'), 'TransactionID': 46, 'CustomerID': 46, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 8, 25, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3a3'), 'TransactionID': 10, 'CustomerID': 10, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 9, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b7'), 'TransactionID': 30, 'CustomerID': 30, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 5, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c8'), 'TransactionID': 47, 'CustomerID': 47, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 1, 13, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ca'), 'TransactionID': 49, 'CustomerID': 49, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 19, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ac'), 'TransactionID': 19, 'CustomerID': 19, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 7, 28, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c0'), 'TransactionID': 39, 'CustomerID': 39, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 7, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c5'), 'TransactionID': 44, 'CustomerID': 44, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 12, 12, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b3'), 'TransactionID': 26, 'CustomerID': 26, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2022, 2, 2, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3b5'), 'TransactionID': 28, 'CustomerID': 28, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 9, 15, 0, 0), 'Amount': 65}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3ba'), 'TransactionID': 33, 'CustomerID': 33, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2021, 7, 22, 0, 0), 'Amount': 45}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3bd'), 'TransactionID': 36, 'CustomerID': 36, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 20, 0, 0), 'Amount': 35}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c2'), 'TransactionID': 41, 'CustomerID': 41, 'Product': 'Internet Plan', 'TransactionDate': datetime.datetime(2021, 7, 25, 0, 0), 'Amount': 55}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c4'), 'TransactionID': 43, 'CustomerID': 43, 'Product': 'TV Plan', 'TransactionDate': datetime.datetime(2021, 6, 9, 0, 0), 'Amount': 75}
{'_id': ObjectId('6687b6d07f84c33cbfc9c3c6'), 'TransactionID': 45, 'CustomerID': 45, 'Product': 'Phone Plan', 'TransactionDate': datetime.datetime(2022, 1, 18, 0, 0), 'Amount': 45}

### Crear DataFrames a partir de las Colecciones de MongoDB:

In [20]:
employees_mongo = pd.DataFrame(list(db.Employees.find()))
customers_mongo = pd.DataFrame(list(db.Customers.find()))
transactions_mongo = pd.DataFrame(list(db.Transactions.find()))

### Eliminar la Columna _id:

In [21]:
employees_mongo.drop(columns=['_id'], inplace=True)
customers_mongo.drop(columns=['_id'], inplace=True)
transactions_mongo.drop(columns=['_id'], inplace=True)

### Mostrar los DataFrames para Confirmar la Operación:

In [22]:
print("Employees DataFrame:")
print(employees_mongo.head())

Employees DataFrame:
   EmployeeID FirstName LastName                       Email   HireDate  \
0           8    Hannah   Walker   hannah.walker@example.com 2019-11-21
1          25    Yvonne  Sanchez  yvonne.sanchez@example.com 2021-06-05
2           2     Betty    Jones     betty.jones@example.com 2019-04-12
3          10     Julia    Allen     julia.allen@example.com 2021-01-10
4          23     Wendy  Collins   wendy.collins@example.com 2019-06-29

   Salary
0   58000
1   63000
2   62000
3   61000
4   60000

In [23]:
print("\nCustomers DataFrame:")
print(customers_mongo.head())

Customers DataFrame:
   CustomerID FirstName  LastName                      Email SignupDate  \
0          18      Ruby  Phillips  ruby.phillips@example.com 2018-05-30
1          10      Jack     Allen     jack.allen@example.com 2021-02-14
2           2     Brian   Johnson  brian.johnson@example.com 2020-05-25
3           1    Amelia     Smith   amelia.smith@example.com 2021-03-15
4           5      Ella    Wilson    ella.wilson@example.com 2017-09-22

   MonthlyIncome
0           4900
1           4800
2           4800
3           4600
4           5300

In [24]:
print("\nTransactions DataFrame:")
print(transactions_mongo.head())

Transactions DataFrame:
   TransactionID  CustomerID     Product TransactionDate  Amount
0              6           6     TV Plan      2021-10-11      65
1             37          37     TV Plan      2021-09-03      75
2              9           9     TV Plan      2021-07-18      75
3             21          21  Phone Plan      2021-10-10      45
4              3           3     TV Plan      2021-11-20      75

# Unir todos los Dataframes de las tres fuentes dadas: Un solo dataframe para Empleados(Employees), otra para Clientes (Customers) y otra para Transacciones

### Guardar los dataframes en tres csv's distintos

### Utilizando pandas hacer la carga de cada csv y evaluar viabilidad de los datos

### Hacer estadisticas descriptivas sencillas sobre cada csv para desarrollar conclusiones de cada csv.

### De los tres csv generar un unico csv de trabajo (Martes 09)